# App environment
APP_ENV=dev

# Dev settings
DEBUG=True

# Secrets
SECRET_KEY=secret
SHARED_KEY=shared

# Infrastructure settings
POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/postgres
RABBIT_DSN=amqp://rabbitmq:rabbitmq@localhost:5672
REDIS_DSN=redis://user@localhost:6379/0

# Optional API settings
REST_MAX_RESPONSE_TIME=5.0
EVENT_TIMEOUT=5
