[tool.poetry]
name = "mirumon-backend"
version = "0.0.10"
description = "Monitoring server"
authors = [
    "Slyfoxy <khitrov34@gmail.com>",
    "Nik Sidnev <snive2013@yandex.ru>"
]
license = "MIT"
packages = [
    { include = "app" }
]


[tool.poetry.dependencies]
python = "^3.7"

uvicorn = "^0.10.8"
fastapi = "^0.44.0"

passlib = {version = "^1.7", extras = ["bcrypt"]}

pyjwt = "^1.7"

asyncpg = "^0.20.0"
alembic = "^1.3"
databases = {version = "^0.2.6", extras = ["postgresql"]}

loguru = "^0.3.2"

toml = "^0.10.0"
python-multipart = "^0.0.5"


[tool.poetry.dev-dependencies]
black = {version = "^19.10-beta.0", allows-prereleases = true}
isort = "^4.3"
autoflake = "^1.3"

wemake-python-styleguide = "^0.13.1"
mypy = "^0.740"
flake8-fixme = "^1.1"

pytest = "^5.3"
pytest-cov = "^2.8"
pytest-asyncio = "^0.10.0"
pytest-xdist = "^1.30"
docker = "^4.0"
requests = "^2.22"
httpx = "^0.8.0"
asgi-lifespan = "^0.6.0"



[tool.black]
target_version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |\.hg
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |node_modules
  |_build
  |buck-out
  |build
  |dist
  |media
  |infrastructure
  |templates
  |locale
  |docs
)/
'''


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
